In [381]:
import psycopg2
import json

In [382]:
request = {
    "entities": {
        "capabilities": [
            "Apache Hadoop",
            "Spark",
            "AWS",
            "arquitecturas de datos escalables",
            "análisis de datos en tiempo real",
            "automatización de procesos",
            "Docker",
            "Kubernetes",
            "Java"
        ],
        "role": "Ingeniero de datos"
    },
    "input_token": 90,
    "output_token": 42,
    "tokens": 132
}

In [383]:
import os
import psycopg2
from psycopg2 import DatabaseError
from dotenv import load_dotenv

#cargar las variables de entorno
load_dotenv()

#Crear conexion con PostgreSQL
def get_db_connection():
    try:
        connection = psycopg2.connect(
            host=os.getenv('PGSQL_HOST'),
            user=os.getenv('PGSQL_USER'),
            password=os.getenv('PGSQL_PASSWORD'),
            dbname=os.getenv('PGSQL_DATABASE'),
            port=os.getenv('PGSQL_PORT')
        )
        return connection
    except DatabaseError as ex:
        raise ex

In [384]:
from psycopg2.extras import RealDictCursor

def buscar_candidatos_postgre(rol, capabilities):
    # Formatear la búsqueda para usar en to_tsquery
    
    busqueda_capabilities = ' | '.join(
            [f"'{capability.strip()}'" if ' ' in capability else capability.strip() for capability in capabilities]
        )

    if busqueda_capabilities.startswith(" | "):
        busqueda_capabilities = busqueda_capabilities[3:]
    if busqueda_capabilities.endswith(" | "):
        busqueda_capabilities = busqueda_capabilities[:-3]
        

    if isinstance(rol, str):
        busqueda_rol = rol.strip()  # Eliminar espacios innecesarios
        busqueda_rol = ' & '.join(busqueda_rol.split())  # Reemplazar espacios por " & " para to_tsquery
    else:
        raise ValueError("El parámetro 'rol' debe ser una cadena.")

    print(busqueda_capabilities, busqueda_rol)
    
    consulta = """
    SET enable_nestloop = off; 
    
    EXPLAIN ANALYZE
    WITH ranked_profiles AS (
    SELECT 
        app_prof.id AS applicant_profile_id,
        u.name AS name,
        skills.description AS skill_description,
        job.name AS job_name,
        level_of_exp.name AS level_of_experience,
        prof_type.description AS profiletype,
        workexp.description AS aditional_info
    FROM 
        recruitment.applicantprofile_skill AS app_skill
    INNER JOIN recruitment.applicant_profile AS app_prof ON app_skill.applicant_profile_id = app_prof.id
    INNER JOIN recruitment.skills AS skills ON skills.id = app_skill.skill_id
    INNER JOIN recruitment.user AS u ON u.user_id = app_prof.user_id
    INNER JOIN recruitment.application AS application ON application.user_id = u.user_id
    INNER JOIN recruitment.job AS job ON job.id = application.job_id
    INNER JOIN recruitment.levelofexp AS level_of_exp ON level_of_exp.id = job.levelofexperience_id
    INNER JOIN recruitment.profiletype AS prof_type ON prof_type.id = job.profile_type_id
    INNER JOIN recruitment.workexperience as workexp ON workexp.applicantprofile_id = app_prof.id
    WHERE 
        -- Usar tsquery para el filtrado en lugar de recalcular el tsvector cada vez
        to_tsvector('spanish', job.name || ' ' || skills.description || ' ' || workexp.description || ' ' || level_of_exp.name)
        @@ to_tsquery('spanish', %s)
        AND
        to_tsvector('spanish', prof_type.description || ' ' || level_of_exp.name) 
        @@ to_tsquery('spanish', %s)
),
ranked_with_row_number AS (
    SELECT 
    applicant_profile_id,
    MIN(name) AS name,
    MIN(skill_description) AS skill_description,
    MIN(job_name) AS job_name,
    MIN(level_of_experience) AS level_of_experience,
    MIN(profiletype) AS profiletype,
    MIN(aditional_info) AS aditional_info
    FROM ranked_profiles
    GROUP BY applicant_profile_id
)
SELECT 
    applicant_profile_id,
    name,
    skill_description,
    job_name,
    level_of_experience,
    profiletype,
    aditional_info
FROM ranked_with_row_number
    """
    resultados = []
    try:
        conn = get_db_connection()  # Obtén la conexión a la base de datos
        with conn.cursor(cursor_factory=psycopg2.extras.DictCursor) as cur:
            # Ejecutar la consulta con el término de búsqueda seguro
            cur.execute(consulta, (busqueda_capabilities,busqueda_rol))
            resultados = cur.fetchall()

        conn.close()
    except Exception as e:
        print(f"Error al consultar PostgreSQL: {e}")
    
    # Convertir los resultados en una lista de diccionarios
    # return json.dumps([dict(row) for row in resultados], default=str)
    return [dict(row) for row in resultados]

In [385]:
data = request
role = data["entities"]["role"]
capabilities = data["entities"]["capabilities"]

# Llamar a la función de búsqueda con el término combinado
aplicantes_filtrados = buscar_candidatos_postgre(role, capabilities)

'Apache Hadoop' | Spark | AWS | 'arquitecturas de datos escalables' | 'análisis de datos en tiempo real' | 'automatización de procesos' | Docker | Kubernetes | Java Ingeniero & de & datos

In [386]:
aplicantes_filtrados

[{'QUERY PLAN': 'Finalize GroupAggregate  (cost=31623.73..31636.21 rows=94 width=196) (actual time=1267.595..1282.422 rows=10432 loops=1)'},
 {'QUERY PLAN': '  Group Key: app_prof.id'},
 {'QUERY PLAN': '  ->  Gather Merge  (cost=31623.73..31633.90 rows=78 width=196) (actual time=1267.587..1276.091 rows=10576 loops=1)'},
 {'QUERY PLAN': '        Workers Planned: 2'},
 {'QUERY PLAN': '        Workers Launched: 2'},
 {'QUERY PLAN': '        ->  Partial GroupAggregate  (cost=30623.71..30624.88 rows=39 width=196) (actual time=1262.297..1266.791 rows=3525 loops=3)'},
 {'QUERY PLAN': '              Group Key: app_prof.id'},
 {'QUERY PLAN': '              ->  Sort  (cost=30623.71..30623.81 rows=39 width=1684) (actual time=1262.287..1262.623 rows=9285 loops=3)'},
 {'QUERY PLAN': '                    Sort Key: app_prof.id'},
 {'QUERY PLAN': '                    Sort Method: quicksort  Memory: 2311kB'},
 {'QUERY PLAN': '                    Worker 0:  Sort Method: quicksort  Memory: 2348kB'},
 {'QUERY PLAN': '                    Worker 1:  Sort Method: quicksort  Memory: 2488kB'},
 {'QUERY PLAN': '                    ->  Parallel Hash Join  (cost=20209.84..30622.68 rows=39 width=1684) (actual time=176.909..1258.362 rows=9285 loops=3)'},
 {'QUERY PLAN': '                          Hash Cond: (app_skill.applicant_profile_id = workexp.applicantprofile_id)'},
 {'QUERY PLAN': "                          Join Filter: (to_tsvector('spanish'::regconfig, (((((((job.name)::text || ' '::text) || (skills.description)::text) || ' '::text) || (workexp.description)::text) || ' '::text) || (level_of_exp.name)::text)) @@ '''apach'' <-> ''hadoop'' | ''spark'' | ''aws'' | ''arquitectur'' <2> ''dat'' <-> ''escal'' | ''analisis'' <2> ''dat'' <2> ''tiemp'' <-> ''real'' | ''automatiz'' <2> ''proces'' | ''dock'' | ''kubernet'' | ''jav'''::tsquery)"},
 {'QUERY PLAN': '                          Rows Removed by Join Filter: 66374'},
 {'QUERY PLAN': '                          ->  Hash Join  (cost=16326.13..25432.86 rows=7822 width=1595) (actual time=160.367..223.992 rows=75659 loops=3)'},
 {'QUERY PLAN': '                                Hash Cond: (app_skill.skill_id = skills.id)'},
 {'QUERY PLAN': '                                ->  Parallel Hash Join  (cost=16323.55..25408.50 rows=7822 width=1083) (actual time=160.289..211.136 rows=75659 loops=3)'},
 {'QUERY PLAN': '                                      Hash Cond: (app_skill.applicant_profile_id = app_prof.id)'},
 {'QUERY PLAN': '                                      ->  Parallel Seq Scan on applicantprofile_skill app_skill  (cost=0.00..7648.03 rows=370903 width=8) (actual time=0.003..14.321 rows=296723 loops=3)'},
 {'QUERY PLAN': '                                      ->  Parallel Hash  (cost=16306.29..16306.29 rows=1381 width=1075) (actual time=160.238..160.247 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                            Buckets: 32768 (originally 4096)  Batches: 1 (originally 1)  Memory Usage: 3520kB'},
 {'QUERY PLAN': '                                            ->  Parallel Hash Join  (cost=13952.18..16306.29 rows=1381 width=1075) (actual time=148.800..157.391 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                                  Hash Cond: ((u.user_id)::text = (app_prof.user_id)::text)'},
 {'QUERY PLAN': '                                                  ->  Parallel Seq Scan on "user" u  (cost=0.00..2100.54 rows=65454 width=51) (actual time=0.002..1.850 rows=37090 loops=3)'},
 {'QUERY PLAN': '                                                  ->  Parallel Hash  (cost=13934.92..13934.92 rows=1381 width=1135) (actual time=148.708..148.715 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                                        Buckets: 32768 (originally 4096)  Batches: 1 (originally 1)  Memory Usage: 5152kB'},
 {'QUERY PLAN': '                                                        ->  Parallel Hash Join  (cost=11988.18..13934.92 rows=1381 width=1135) (actual time=136.537..144.706 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                                              Hash Cond: ((app_prof.user_id)::text = (application.user_id)::text)'},
 {'QUERY PLAN': '                                                              ->  Parallel Seq Scan on applicant_profile app_prof  (cost=0.00..1695.54 rows=65454 width=41) (actual time=0.006..2.818 rows=37090 loops=3)'},
 {'QUERY PLAN': '                                                              ->  Parallel Hash  (cost=11975.96..11975.96 rows=978 width=1094) (actual time=136.454..136.460 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                                                    Buckets: 32768 (originally 4096)  Batches: 1 (originally 1)  Memory Usage: 4032kB'},
 {'QUERY PLAN': '                                                                    ->  Parallel Hash Join  (cost=4444.08..11975.96 rows=978 width=1094) (actual time=111.349..132.616 rows=9457 loops=3)'},
 {'QUERY PLAN': '                                                                          Hash Cond: (application.job_id = job.id)'},
 {'QUERY PLAN': '                                                                          ->  Parallel Seq Scan on application  (cost=0.00..6794.50 rows=195550 width=45) (actual time=0.036..8.354 rows=156440 loops=3)'},
 {'QUERY PLAN': '                                                                          ->  Parallel Hash  (cost=4441.15..4441.15 rows=234 width=1065) (actual time=111.014..111.017 rows=2342 loops=3)'},
 {'QUERY PLAN': '                                                                                Buckets: 8192 (originally 1024)  Batches: 1 (originally 1)  Memory Usage: 888kB'},
 {'QUERY PLAN': '                                                                                ->  Hash Join  (cost=2.61..4441.15 rows=234 width=1065) (actual time=1.261..107.417 rows=2342 loops=3)'},
 {'QUERY PLAN': '                                                                                      Hash Cond: (job.levelofexperience_id = level_of_exp.id)'},
 {'QUERY PLAN': "                                                                                      Join Filter: (to_tsvector('spanish'::regconfig, (((prof_type.description)::text || ' '::text) || (level_of_exp.name)::text)) @@ '''ingenier'' & ''dat'''::tsquery)"},
 {'QUERY PLAN': '                                                                                      Rows Removed by Join Filter: 35127'},
 {'QUERY PLAN': '                                                                                      ->  Hash Join  (cost=1.36..4311.30 rows=46841 width=553) (actual time=0.037..14.642 rows=37469 loops=3)'},
 {'QUERY PLAN': '                                                                                            Hash Cond: (job.profile_type_id = prof_type.id)'},
 {'QUERY PLAN': '                                                                                            ->  Parallel Seq Scan on job  (cost=0.00..4154.41 rows=46841 width=41) (actual time=0.004..3.966 rows=37473 loops=3)'},
 {'QUERY PLAN': '                                                                                            ->  Hash  (cost=1.16..1.16 rows=16 width=520) (actual time=0.012..0.013 rows=16 loops=3)'},
 {'QUERY PLAN': '                                                                                                  Buckets: 1024  Batches: 1  Memory Usage: 9kB'},
 {'QUERY PLAN': '                                                                                                  ->  Seq Scan on profiletype prof_type  (cost=0.00..1.16 rows=16 width=520) (actual time=0.005..0.007 rows=16 loops=3)'},
 {'QUERY PLAN': '                                                                                      ->  Hash  (cost=1.11..1.11 rows=11 width=520) (actual time=0.013..0.014 rows=11 loops=3)'},
 {'QUERY PLAN': '                                                                                            Buckets: 1024  Batches: 1  Memory Usage: 9kB'},
 {'QUERY PLAN': '                                                                                            ->  Seq Scan on levelofexp level_of_exp  (cost=0.00..1.11 rows=11 width=520) (actual time=0.008..0.009 rows=11 loops=3)'},
 {'QUERY PLAN': '                                ->  Hash  (cost=1.70..1.70 rows=70 width=520) (actual time=0.049..0.049 rows=70 loops=3)'},
 {'QUERY PLAN': '                                      Buckets: 1024  Batches: 1  Memory Usage: 12kB'},
 {'QUERY PLAN': '                                      ->  Seq Scan on skills  (cost=0.00..1.70 rows=70 width=520) (actual time=0.028..0.033 rows=70 loops=3)'},
 {'QUERY PLAN': '                          ->  Parallel Hash  (cost=3065.54..3065.54 rows=65454 width=97) (actual time=15.993..15.993 rows=37090 loops=3)'},
 {'QUERY PLAN': '                                Buckets: 131072  Batches: 1  Memory Usage: 15520kB'},
 {'QUERY PLAN': '                                ->  Parallel Seq Scan on workexperience workexp  (cost=0.00..3065.54 rows=65454 width=97) (actual time=0.012..5.524 rows=37090 loops=3)'},
 {'QUERY PLAN': 'Planning Time: 11.215 ms'},
 {'QUERY PLAN': 'Execution Time: 1283.134 ms'}]

In [387]:
import pandas as pd

data = []
for item in aplicantes_filtrados:
    line = item['QUERY PLAN']
    if 'cost=' in line and 'actual time=' in line:
        operation = line.split('  ')[-1].strip()  # Operación
        cost = line.split('cost=')[1].split(' ')[0].split('..')
        actual_time = line.split('actual time=')[1].split(' ')[0].split('..')
        rows = line.split('rows=')[1].split(' ')[0] if 'rows=' in line else None
        data.append({
            'Operación': operation,
            'Costo Inicial': float(cost[0]),
            'Costo Final': float(cost[1]),
            'Tiempo Inicial (ms)': float(actual_time[0]),
            'Tiempo Final (ms)': float(actual_time[1]),
            'Filas Procesadas': int(rows) if rows else None
        })

# Crear un DataFrame
df = pd.DataFrame(data)

df

,Operación,Costo Inicial,Costo Final,Tiempo Inicial (ms),Tiempo Final (ms),Filas Procesadas
0,(cost=31623.73..31636.21 rows=94 width=196) (a...,31623.73,31636.21,1267.595,1282.422,94
1,(cost=31623.73..31633.90 rows=78 width=196) (a...,31623.73,31633.90,1267.587,1276.091,78
2,(cost=30623.71..30624.88 rows=39 width=196) (a...,30623.71,30624.88,1262.297,1266.791,39
3,(cost=30623.71..30623.81 rows=39 width=1684) (...,30623.71,30623.81,1262.287,1262.623,39
4,(cost=20209.84..30622.68 rows=39 width=1684) (...,20209.84,30622.68,176.909,1258.362,39
5,(cost=16326.13..25432.86 rows=7822 width=1595)...,16326.13,25432.86,160.367,223.992,7822
6,(cost=16323.55..25408.50 rows=7822 width=1083)...,16323.55,25408.50,160.289,211.136,7822
7,(cost=0.00..7648.03 rows=370903 width=8) (actu...,0.00,7648.03,0.003,14.321,370903
8,(cost=16306.29..16306.29 rows=1381 width=1075)...,16306.29,16306.29,160.238,160.247,1381
9,(cost=13952.18..16306.29 rows=1381 width=1075)...,13952.18,16306.29,148.800,157.391,1381
10,(cost=0.00..2100.54 rows=65454 width=51) (actu...,0.00,2100.54,0.002,1.850,65454
11,(cost=13934.92..13934.92 rows=1381 width=1135)...,13934.92,13934.92,148.708,148.715,1381
12,(cost=11988.18..13934.92 rows=1381 width=1135)...,11988.18,13934.92,136.537,144.706,1381
13,(cost=0.00..1695.54 rows=65454 width=41) (actu...,0.00,1695.54,0.006,2.818,65454
14,(cost=11975.96..11975.96 rows=978 width=1094) ...,11975.96,11975.96,136.454,136.460,978
15,(cost=4444.08..11975.96 rows=978 width=1094) (...,4444.08,11975.96,111.349,132.616,978
16,(cost=0.00..6794.50 rows=195550 width=45) (act...,0.00,6794.50,0.036,8.354,195550
17,(cost=4441.15..4441.15 rows=234 width=1065) (a...,4441.15,4441.15,111.014,111.017,234
18,(cost=2.61..4441.15 rows=234 width=1065) (actu...,2.61,4441.15,1.261,107.417,234
19,(cost=1.36..4311.30 rows=46841 width=553) (act...,1.36,4311.30,0.037,14.642,46841
20,(cost=0.00..4154.41 rows=46841 width=41) (actu...,0.00,4154.41,0.004,3.966,46841
21,(cost=1.16..1.16 rows=16 width=520) (actual ti...,1.16,1.16,0.012,0.013,16
22,(cost=0.00..1.16 rows=16 width=520) (actual ti...,0.00,1.16,0.005,0.007,16
23,(cost=1.11..1.11 rows=11 width=520) (actual ti...,1.11,1.11,0.013,0.014,11
24,(cost=0.00..1.11 rows=11 width=520) (actual ti...,0.00,1.11,0.008,0.009,11
25,(cost=1.70..1.70 rows=70 width=520) (actual ti...,1.70,1.70,0.049,0.049,70
26,(cost=0.00..1.70 rows=70 width=520) (actual ti...,0.00,1.70,0.028,0.033,70
27,(cost=3065.54..3065.54 rows=65454 width=97) (a...,3065.54,3065.54,15.993,15.993,65454
28,(cost=0.00..3065.54 rows=65454 width=97) (actu...,0.00,3065.54,0.012,5.524,65454